center{
    background-color: #7D0541;
    color: white;
    width: 500px;
    height: 450px;
    position: absolute;
    top: 80px;
    left: 100px;
}
body{
    background-color: #872657;
}
#name{
    margin-left:60px;
    margin-right: 25px;
}
#email{
    margin-left:60px;
    margin-right: 25px;
}
#password{
    margin-left:40px;
    margin-right: 25px;
}
#phone{
     margin-right: 25px;
}
.gender{
    margin-right:35px;
}
#language{
     margin-left: 20px;
     margin-right: 90px;
}
#zipcode{
    margin-left: 20px;
    width: 200px;
}
#about{
    margin-left: 35px;
    height: 50px;
    width: 200px;
}
input:last-child{
    width: 300px;
    height: 40px;
    border-radius: 6px;
}