table {
    border: 1px solid black;
    background-color: #87CEEB;
    border-radius: 10px;
  }
  th,td{
    width: 300px;
    border: 1px solid black;
    background-color: #87CEEB;
    border-radius: 10px
  
  }
  td:last-child{
      width: 150px;
  }
  th:last-child{
      width: 150px;
  }
